<!-- <section class="breadcrumb-option">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-2">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="/admin">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#house-door-fill"></use>
            </svg>
            <span class="visually-hidden">Dashboard</span>
          </a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Sales Report</li>
      </ol>
    </nav>
  </div>
</section> -->

<div id="salesReport"
  class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2"><%= locals.title ? locals.title : 'Product Offers' %></h1>

  <div class="d-flex align-items-center gap-2">
    <div class="btn-toolbar mb-2 mb-md-0">
      <form class="d-flex" method="get">
        <div class="d-flex align-items-center gap-2">
          <div class="form-group">
            <label for="startDate">From</label>
            <input
              type="date"
              name="startDate"
              id="startDate"
              class="form-control"
              placeholder="Start Date"
              value="<%- startDate %>"
            />
          </div>
          <div class="form-group">
            <label for="endDate">To</label>
            <input
              type="date"
              id="endDate"
              name="endDate"
              class="form-control"
              placeholder="End Date"
              value="<%- endDate %>"
            />
          </div>

        </div>
      </form>
    </div>

  </div>
</div>

<main class="main my-5">
  <div class="mx-5">
    <% if(orders && orders.length>0) { %>
    <div id="sales-report" class="table-responsive" id="no-more-tables">
      <table class="table table-striped bg-white pt-3">
        <thead class=" ">
          <tr class="">
            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              ORDER ID
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              ORDER DATE
            </th>
            <th
              class="text-dark text-center"
              style="font-size: 15px; min-width: 200px"
              scope="col"
              class="sorting"
            >
              PRODUCTS
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              STATUS
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              PAY
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              GT
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              DIS
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
              class="sorting"
            >
              CAT DIS
            </th>

            <th
              class="text-dark text-center"
              style="font-size: 15px"
              scope="col"
            >
              FP
            </th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < orders.length ;i++) { %>

          <tr data-id="" class="text-center" style="font-size: medium">
            <td data-title="Name"><%=orders[i]._id.toString().slice(-7).toUpperCase()%></td>

            <td style="max-width: 150px" data-title="Name">
              <% const options={ year: 'numeric' , month: 'short' , day:
              'numeric' , hour: '2-digit' , minute: '2-digit' , second:
              '2-digit' , timeZoneName: 'short' }; const
              shortDate=orders[i].createdAt.toLocaleDateString('en-US',
              options); %> <%=shortDate %>
            </td>
            <td style="max-width: 200px" data-title="Email">
              <ul>
                <% for(let j=0 ; j< orders[i].orderedItems.length ; j++ ){%>

                <li class="text-uppercase list-unstyled mt-3">
                  <%=orders[i].orderedItems[j].productDetails.product_name%>
                  ( <%=orders[i].orderedItems[j].quantity%> )
                </li>

                <% }%>
              </ul>
            </td>

            <td data-title="Name"><%=orders[i].status%></td>

            <td style="min-width: 80px" data-title="Mobile">
              <%=orders[i].paymentMethod %>
            </td>

            <td style="min-width: 80px" data-title="Mobile">
              <%=orders[i].totalAmount%>
            </td>

            <td style="min-width: 80px" data-title="Mobile">
              <%=orders[i].couponDiscount%>
            </td>

            <td data-title="Mobile" class="text-center">
              <% if(orders[i].productDetails ){%>
              <%=orders[i].categoryDiscount%> <%} else {%> 0 <%}%>
            </td>

            <td style="min-width: 80px" data-title="Mobile">
              <%=orders[i].totalAmount%>
            </td>
          </tr>

          <%}%>
        </tbody>
      </table>
    </div>

    <%}%>
  </div>
</main>
