<!-- Hero Section-->
<section>
  <!-- Hero Slider-->

  <div id="carouselExampleCaptions" class="carousel slide mt-2 mb-0" data-bs-ride="carousel">
    
    <div class="carousel-inner p-1">
      <% if (banners !== 'undefined' && banners.length>0) { %>
        <% banners?.forEach((banner, index)=> { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <img src="/uploads/banners/<%= banner?.image?.filename %>" class="d-block w-100"  alt="<%= banner.name %>">
            <div class="container">
              <div class="carousel-caption text-start">
                <h2 ><%- banner.name %>.</h2>
                <p class="opacity-75"><%- banner.description %>
                </p>
                <p>
                  <a class="btn btn-primary" href="<%- banner.reference %>">Know More</a>
                </p>
                </div>
            </div>
        </div>
        <% }); %>
      <% } else { %>
        <h3 class="text-center text-danger">No banners</h3>
      <% } %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
  
  

</section>


<section class="py-6 brands">
  <div class="container">
    <% if (categories !== 'undefined') { %>
      <h4 class="text-uppercase text-center mb-5">Categories</h4>
      <!-- Brands Slider-->
      <div class="owl-carousel owl-theme brands-slider">
        <!-- item-->
        <% categories?.forEach((category, index) => { %>
          <div class="item card border-0 d-flex align-items-center justify-content-center">
            <a href="/shop?category=<%- category._id %>">
            <div class="w-8rem">
              <% if (category.onOffer) { %>
                <div class="ribbon ribbon-info">On offer <%- category.offerDiscountRate %>%</div>
              <% } %>
              <img class="card-img img-fluid d-block" src="/uploads/category-images/<%- category.image.filename %>" alt="<%- category.name %>" />
              <div class="card-img-overlay d-flex align-items-top" style="opacity: 90%;">
                <div class="w-100 py-3">
                  <p class="display-3 pt-6 text-center text-white fw-semibold fs-3 text-capitalize"><%- category.name %></p>
                </div>
              </div>  
              </div>
            </a>
            </div>
        <% }) %>
        
        
      </div>
    <% } %>
  </div>
</section>

<!-- Top Selling Products -->
<section class="py-6 bg-gray-100 mb-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">Our Top Selling Products</h2>
        <p class="lead text-muted">Our top selling products at the moment.</p>
      </div>
    </div>
    <!-- Products Slider-->
    <div class="owl-carousel owl-theme product-slider">
      <!-- product-->
      <% bestSellingProducts.forEach(element => { %>
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image">
              <% if (element.product.onOffer) { %>
                <div class="ribbon ribbon-info">On offer <%- element.product.offerDiscountRate %>%</div>
              <% } %>
              <img class="img-fluid" src="/uploads/product-images/<%- element.product.primary_image.name %>" alt="product" />
              <div class="product-hover-overlay">
                <a class="product-hover-overlay-link" href="/shop/product/<%- element.product._id %>"></a>
                <div class="product-hover-overlay-buttons">
                  <a class="btn btn-dark btn-buy" href="/shop/product/<%- element.product._id %>"><i class="fa-search fa"></i><span class="btn-buy-label ms-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2 fs-6">
              <p class="text-muted mb-1"><%- element.product.brand_name %></p>
              <h3 class="h6 text-uppercase mb-1">
                <a class="text-dark" href="/shop/product/<%- element.product._id %>"><%- element.product.product_name %></a>
              </h3>
              <div class="row g-2">
                <% if (!element.product.onOffer) { %>
                  <span class="text-muted text-success col">₹<%- element.product.sellingPrice %></span>
                  <span class="text-muted col"><del>₹<%- element.product.actualPrice %></del></span>
                <% } else { %>   
                    <span class="text-muted text-success col">₹<%- element.product.offerDiscountPrice %></span>
                    <span class="text-muted col"><del>₹<%- element.product.sellingPrice %></del></span>
                <% } %>
                <br />
              </div>
              
            </div>
          </div>
        </div>
      <% }) %>
      <!-- /product-->
      
    </div>
  </div>
</section>
<!-- Top Products -->
<section class="py-6 bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">Our New Arrivals</h2>
        <p class="lead text-muted">
          Our latest products that are in high demand.
        </p>
      </div>
    </div>
    <!-- Products Slider-->
    <div class="owl-carousel owl-theme product-slider">
      <!-- product-->
      <% products.forEach(element => { %>
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image">
              <% if (element.onOffer) { %>
                <div class="ribbon ribbon-info">On offer <%- element.offerDiscountRate %>%</div>
              <% } %>
              <img class="img-fluid" src="/uploads/product-images/<%- element.primary_image.name %>" alt="product" />
              <div class="product-hover-overlay">
                <a class="product-hover-overlay-link" href="/shop/product/<%- element._id %>"></a>
                <div class="product-hover-overlay-buttons">
                  <a class="btn btn-dark btn-buy" href="/shop/product/<%- element._id %>"><i class="fa-search fa"></i><span class="btn-buy-label ms-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1"><%- element.brand_name %></p>
              <h3 class="h6 text-uppercase mb-1">
                <a class="text-dark" href="/shop/product/<%- element._id %>"><%- element.product_name %></a>
              </h3>
              <div class="row g-2">
                <% if (!element.onOffer) { %>
                  <span class="text-muted text-success col">₹<%- element.sellingPrice %></span>
                  <span class="text-muted col"><del>₹<%- element.actualPrice %></del></span>
                <% } else { %>   
                    <span class="text-muted text-success col">₹<%- element.offerDiscountPrice %></span>
                    <span class="text-muted col"><del>₹<%- element.sellingPrice %></del></span>
                <% } %>
                <br />
              </div>
            </div>
          </div>
        </div>
      <% }) %>
      <!-- /product-->
      
    </div>
  </div>
</section>

<!-- Banner Section-->
<section class="py-6 position-relative light-overlay mb-2">
  <% if (banners !== 'undefined' && banners.length > 0) { %>
    <!-- Random Banner -->
    <% if (banners.length > 1) { %>
    <% let random = Math.floor(Math.random() * banners.length); %>
    <img class="bg-image" src="/uploads/banners/<%- banners[random].image.filename %>" alt="" />
    <div class="container">
      <div class="overlay-content text-center text-dark">
        <p class="text-uppercase fw-bold mb-1 letter-spacing-5">
          <%- banners[random].name %>
        </p>
        <h3 class="display-1 fw-bold text-serif mb-4">Summer Sales</h3>
        <a class="btn btn-dark" href="/shop">Shop Now</a>
      </div>
    </div>
    <% } %>
  <% } %>
</section>

<!-- Our Top Selling Categories -->


<section class="my-4 pt-0 brands">
  <div class="container">
    <% if (bestSellingCategories !== 'undefined') { %>
      <h4 class="text-uppercase text-center mb-5">Our Top Selling Categories</h4>
      <!-- Brands Slider-->
      <div class="owl-carousel owl-theme brands-slider">
        <!-- item-->
        <% bestSellingCategories?.forEach((element, index) => { %>
          <div class="item d-flex align-items-center justify-content-center">
            <a href="/shop?category=<%- element.category._id %>">
            <div class="w-8rem">
              <% if (element.category.onOffer) { %>
                <div class="ribbon ribbon-info">On offer <%- element.category.offerDiscountRate %>%</div>
              <% } %>
              <img class="img-fluid d-block" src="/uploads/category-images/<%- element.category.image.filename %>" alt="<%- element.category.name %>" />
                <p class="text-muted text-capitalize"><%- element.category.name %></p>
              </div>
            </a>
            </div>
        <% }) %>
        
        
      </div>
    <% } %>
  </div>
</section>


<!-- Brands Section-->
<section class="py-6 brands">
  <div class="container">
    <h4 class="text-uppercase text-center mb-5">Our Top Selling Brands</h4>
    <!-- Brands Slider-->
    <div class="owl-carousel owl-theme brands-slider">
      <!-- item-->
      <% bestSellingBrands?.forEach((element, index) => { %>
        <div class="item d-flex align-items-center justify-content-center">
          <div class="w-6rem">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <!-- <img class="img-fluid" id="brand-img-<%- element.brand_name %>" data-brand-name="<%- element.brand_name %>" src="https://demo.bootstrapious.com/sell/2-0-1/img/brand/brand-1.svg" alt="Brand 1" /> -->
              <p class="text-dark bg-secondary-light fs-4 fw-bold text-uppercase py-1 px-2"><%= element.brand_name %></p>
            </div>
          </div>
        </div>
      <% }) %>
      <!-- item-->
      
    </div>
  </div>
</section>
