<section>
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="index.html">Account</a></li>
      <li class="breadcrumb-item active">Orders</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Your Orders</h1>
    </div>
  </div>
</section>

<div class="container mb-5">
  <div class="row">
    <%- include('../partials/user/sidebar.ejs') %>
    <!-- Content  -->
    <section class="col-lg-8">
      <div class="container table-responsive">
        <table class="table table-hover table-sm">
          <thead class="bg-secondary-subtle">
            <tr>
              <th class="py-4 text-uppercase text-sm">Order #</th>
              <th class="py-4 text-uppercase text-sm">Date</th>
              <th class="py-4 text-uppercase text-sm">Total</th>
              <th class="py-4 text-uppercase text-sm">Status</th>
              <th class="py-4 text-uppercase text-sm">Action</th>
            </tr>
          </thead>
          <tbody>
            <% orderDetails.forEach(element => { %>
            <tr>
              <th class="py-4 align-middle">#<%- element._id %></th>
              <td class="py-4 align-middle">
                <%= element.createdAt.toLocaleDateString('en-GB') %>
              </td>
              <td class="py-4 align-middle">$<%- element.total_amount %></td>
              <td class="py-4 align-middle">
                <span class="badge p-2 text-uppercase <% if (element.status == 'confirmed') { %> badge-primary-light <% } else if (element.status == 'Shipped') { %> badge-info-light <% } else if (element.status == 'Delivered') { %> badge-success-light <% } else if (element.status == 'Cancelled') { %> badge-danger-light <% } else { %> badge-warning-light <% } %>"><%- element.status %></span>
              </td>
              <td class="py-4 align-middle">
                <% if (element.status != 'Cancelled' ) { %>
                <a href="/user/order/<%- element._id %>">
                  <button class="btn btn-outline-dark btn-sm">View</button>
                </a>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
