<!-- Hero Section-->
<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Cart</a></li>
      <li class="breadcrumb-item active">Checkout</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Checkout</h1>
    </div>
</section>

<!-- Checkout Section-->
<section>
  <div class="container mb-7">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="block-header bg-secondary-light d-flex justify-content-between align-items-center mb-3">
          <span class="">Your cart</span>
          <span class="badge bg-secondary rounded-pill"><%- cartCount %></span>
        </h4>
        <ul class="list-group mb-3 text-capitalize">
          <% cartList.forEach(item => { %>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="fs-5">
              <h6 class="my-0"><%- item.product_id.product_name %></h6>
              <small class="text-body-secondary">Size: <%- item.size.value %></small> <br>
              <small class="text-body-secondary">Color: <%- item.color.name %></small> <br>
              <small class="text-body-secondary">Quantity: <%- item.quantity %></small>
            </div>
            <div class="d-flex flex-column align-items-end lead fs-6">
              <span class="fw-semibold text-body-secondary">Price per item: <span class="text-muted">₹<%- item.price %></span></span>
              <span class="text-body-secondary fw-semibold">Total: ₹<%- item.itemTotal %></span>
            </div>
          </li>
          <% }) %>
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary d-none" id="appliedCoupon">
            <div class="text-success">
              <h6 class="my-0">Coupon code</h6>
              <small class="text-uppercase" id="coupon"></small>
            </div>
            <span class="text-success" id="discountAmount">−₹</span>
          </li>
          <% if (typeof userCart.coupon !== 'undefined' && userCart.coupon) { %>
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary" id="appliedCoupon">
            <div class="text-success">
              <h6 class="my-0">Coupon code</h6>
              <small class="text-uppercase" id="coupon"><%- userCart.coupon.code %></small>
            </div>
            <span class="text-success" id="discountAmount">−₹<%- userCart.couponDiscount.toFixed(2) %></span>
          </li>
          <% } %>

          <li class="list-group-item d-flex justify-content-between">
            <span>Grand Total (INR)</span>
            <strong>₹<span id="grandTotal"><%- totalPrice %></span></strong>
          </li>
        </ul>

        <form class="card p-2" id="applyCoupon">
          <label class="form-label text-dark" for="couponCode">Apply Coupon Code</label>
          <fieldset>
            <div class="input-group">
              <input <% if (typeof userCart.coupon !== 'undefined' && userCart.coupon ) { %> disabled="disabled" <% } %> id="couponCode" name="code" type="text" class="form-control text-uppercase" placeholder="Coupon code" <% if (typeof userCart.coupon !== 'undefined' && userCart.coupon ) { %> value="<%- userCart.coupon.code %>" <% } %>>
              <button <% if (typeof userCart.coupon !== 'undefined' && userCart.coupon ) { %> disabled="disabled" <% } %> type="submit" class="btn btn-outline-primary <%- (typeof userCart.coupon !== 'undefined' && userCart.coupon ) ? 'd-none' : ''  %>">Apply</button>
              <button onclick="removeCoupon()" type="button" class="btn btn-outline-warning <%- (typeof userCart.coupon !== 'undefined' && userCart.coupon ) ? '' : 'd-none'  %>">Remove Coupon</button>
            </div>
          </fieldset>
        </form>

        <div id="couponsAccordion" class="text-capitalize accordion mt-4">
          <h6 class="mb-3 fs-5">Available Coupons</h6>
          <% if (typeof coupons !== 'undefined' && coupons.length > 0) { %>
          <% coupons.forEach(function(coupon, index) { %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
              <button class="accordion-button collapsed text-uppercase text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                <%= coupon.code %>
              </button>
            </h2>
            <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#couponsAccordion">
              <div class="accordion-body">
                <!-- Coupon Card -->
                <div class="coupon-card">
                  <h4 class="coupon-title">
                    <%= coupon.Description %>
                  </h4>
                  <p>Discount:
                    <%=   coupon.rateOfDiscount + '%' %>
                  </p>
                  <p>Min Order Amount: <%= coupon.minPurchaseAmount %>
                  </p>
                  <p>Expiry Date: <%= coupon.expirationDate.toDateString() %>
                  </p>
                  <button type="button" onclick="copyCode('<%= coupon.code %>')" class="btn btn-primary btn-sm">Copy Code</button>

                </div>
              </div>
            </div>
          </div>
          <% }); %>
          <% } else { %>
          <p class="lead text-warning">No Coupons Available</p>
          <% } %>

        </div>
      </div>
      <div class="col-md-7 col-lg-8">

        <div class="row">
          <div class="col-12">
            <div class="block-header bg-secondary-light"><strong class="text-uppercase">Billing & Shipping Address</strong></div>
            <br>
          </div>
        </div>
        <form class="needs-validation" id="orderForm">
          <div class="row g-3">

            <section class="col-lg-12">
              <% if (address.length > 0) { %>
              <!-- Toolbar-->
              <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-3">
                <h6 class="fs-base fs-5  mb-0">Select Billing Address:</h6>
              </div>

              <!-- Addresses list-->
              <div class="table table-responsive table-striped mt-0">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr class="align-middle fs-5">
                      <th>Address</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% address.forEach((item,index) => { %>
                    <tr class="align-middle fs-5">

                      <td class="py-3 align-middle text-capitalize">
                        <div class="d-flex align-items-center">
                          <input autocomplete="false" required class="mx-2" type="radio" <% if (index === 0) { %> checked <% } %> id="address-<%= index %>" name="address" value="<%= item._id %>">
                          <label class="" for="address-<%= index %>">
                            <%- item.name.toLowerCase() + ', ' + item.house_name + ', ' + item.town + ', ' + item.state + ', PIN: ' + item.zipcode + ', PH:' + item.phone %>
                          </label>
                        </div>
                      </td>
                      <td class="py-3 btn-group align-middle align-items-center">
                        <div class="">
                          <button type="button" class="btn btn-sm btn-outline-warning" id="edit-button" data-address-id="<%- item._id %>" href="#edit-address-modal" data-bs-toggle="modal">
                            <i class="bi bi-pencil fs-6"></i>
                          </button>
                        </div>
                        <button type="button" class="btn btn-sm btn-danger" id="deleteAddressButton" data-bs-toggle="tooltip" title="Remove" onclick="deleteAddress('<%- item._id %>')">
                          <i class="bi bi-trash fs-6"></i>
                        </button>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
              <!-- Toolbar-->
              <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-3">
                <h6 class="fs-base  mb-0">Add Address</h6>
              </div>
              <% } %>

              <div class="text-sm-start pt-4">
                <a class="btn btn-outline-success" href="#add-address" data-bs-toggle="modal">
                  Add new address
                </a>
              </div>
            </section>
          </div>

          <!-- <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" value="COD" checked required>
              <label class="form-check-label" for="credit">Cash On Delivery</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" value="Wallet" class="form-check-input" required>
              <label class="form-check-label" for="paypal">Wallet</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" value="Online" required>
              <label class="form-check-label" for="debit">Online Payment</label>
            </div>
          </div> -->

          <hr class="my-4">

          <div class="row">
            <div class="col-12">
              <div class="block-header bg-secondary-light"><strong class="text-uppercase">Payment</strong></div>
              <br>
            </div>
          </div>

          <div class="mb-5">
            <div id="accordion" role="tablist">

              <div class="block mb-3">
                <div class="block-header" id="headingThree" role="tab"><strong><a class="accordion-link collapsed" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Pay on delivery</a></strong></div>
                <div class="collapse show" id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="block-body py-5 d-flex align-items-center">
                    <input type="radio" name="paymentMethod" id="payment-method-1" value="COD" <% if (isCOD) { %> checked <% } else { %> disabled <% } %>>
                    <label class="ms-3" for="payment-method-1">
                      <strong class="d-block text-uppercase mb-2"> Pay on delivery</strong>
                      <!-- <span class="text-muted text-sm">Pay on delivery is available for orders above ₹1000 only.    </span>
                      <br> -->
                      <% if (!isCOD) { %>
                      <span class="text-muted text-danger text-sm">Pay on delivery is not available for orders above ₹1000.</span>
                      <% } %>
                    </label>
                  </div>
                </div>
              </div>
              <div class="block mb-3">
                <div class="block-header" id="headingOne" role="tab"><strong><a class="accordion-link collapsed" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Wallet <% if (!wallet.isInsufficient) { %>
                      <span class="text-muted">Balance: <span class="text-success fw-semibold">₹<%- wallet.balance %></span></span>
                      <% } %></a></strong></div>
                <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="block-body py-5 d-flex align-items-center">
                    <input <%- wallet.isInsufficient ? 'disabled' : '' %> type="radio" name="paymentMethod" id="payment-method-2" value="Wallet">
                    <label class="ms-3" for="payment-method-2"><strong class="d-block text-uppercase mb-2"> Pay using Wallet</strong>
                      <span class="text-muted fw-semibold text-sm">Your Wallet Balance: </span><span class="text-muted text-success fw-semibold text-sm">₹<%- wallet.balance %> </span>
                      <br>
                      <% if (wallet.isInsufficient) { %>
                      <span class="text-muted text-danger text-sm">Your wallet has insufficient balance.</span>
                      <% } %>
                    </label>
                  </div>
                </div>
              </div>
              <div class="block mb-3">
                <div class="block-header" id="headingTwo" role="tab"><strong><a class="accordion-link collapsed" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Razorpay</a></strong></div>
                <div class="collapse show " id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="block-body py-5 d-flex align-items-center">
                    <input type="radio" name="paymentMethod" id="payment-method-3" value="Online">
                    <label class="ms-3" for="payment-method-3">
                      <strong class="d-block text-uppercase mb-2"> Pay with Razorpay</strong>
                      <span class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                      <br>
                      <span class="text-muted text-warning text-sm">Will reduce your wallet balance.</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button id="submitOrder" class=" btn btn-primary btn-lg" type="submit">Place Order</button>
          <!-- <div class="row">
          </div> -->
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Add New Address Modal-->
<form class="needs-validation modal fade" action="/checkout/add-address" method="POST" id="add-address" tabindex="-1" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title">Add a new address</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row gx-4 gy-3">
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-fn">Full name</label>
            <input autocomplete="false" name="name" class="form-control" type="text" id="address-fn" required>
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-ph">Phone</label>
            <input autocomplete="false" name="phone" class="form-control" type="tel" id="address-ph" required>
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-house-name">House Name</label>
            <input autocomplete="false" name="house_name" class="form-control" type="text" id="address-house-name">
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-area">Area/Street</label>
            <input autocomplete="false" name="area_street" class="form-control" type="text" id="address-area">
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-locality">locality</label>
            <input autocomplete="false" name="locality" class="form-control" type="text" id="address-locality">
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-town">Town</label>
            <input autocomplete="false" name="town" class="form-control" type="text" id="address-town">
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-state">State</label>
            <select class="form-select" name="state" id="address-state">
              <option value="india">Select State</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and
                Daman
                and
                Diu
              </option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Delhi">Delhi</option>
              <option value="Puducherry">Puducherry</option>
            </select>
            <small></small>
          </div>

          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-zip">ZIP code</label>
            <input autocomplete="false" name="zipcode" class="form-control" type="number" id="address-zip" required>
            <div class="invalid-feedback">Please add your ZIP code!</div>
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="address-landmark">Landmark</label>
            <input autocomplete="false" name="landmark" class="form-control" type="text" id="address-landmark" required>
            <small></small>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-label" for="alternate-phone">Alternate Phone</label>
            <input autocomplete="false" name="alternate_phone" class="form-control" type="tel" id="alternate-phone" required>
            <small></small>
            <input autocomplete="false" name="customer_id" type="hidden" value="<%- user._id %>" class="form-control">
          </div>
          <div class="col-sm-6 form-group">
            <p class="form-label">
              Select Address Type
            </p>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="HOME" name="address_type" id="addressType1" checked>
              <small></small>
              <label class="form-check-label" for="addressType1">
                HOME
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" value="WORK" type="radio" name="address_type" id="addressType2">
              <small></small>
              <label class="form-check-label" for="addressType2">
                WORK
              </label>
            </div>
          </div>
          <!-- <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="address-primary">
              <label class="form-check-label" for="address-primary">Make this address
                primary</label>
            </div>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-outline-success btn-shadow" type="submit">Add address</button>
      </div>
    </div>
  </div>
</form>

<!-- Edit Address Modal -->
<div class="modal fade" id="edit-address-modal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" id="edit-address-form" novalidate>
        <div class="modal-body">
          <div class="row gx-4 gy-3">
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-fn">Full name</label>
              <input autocomplete="false" name="name" class="form-control" type="text" id="edit-address-fn" required>
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-ph">Phone</label>
              <input autocomplete="false" name="phone" class="form-control" type="text" id="edit-address-ph" required>
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-house-name">House Name</label>
              <input autocomplete="false" name="house_name" class="form-control" type="text" id="edit-address-house-name">
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-area">Area/Street</label>
              <input autocomplete="false" name="area_street" class="form-control" type="text" id="edit-address-area">
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-locality">Locality</label>
              <input autocomplete="false" name="locality" class="form-control" type="text" id="edit-address-locality">
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-town">Town</label>
              <input autocomplete="false" name="town" class="form-control" type="text" id="edit-address-town">
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-state">State</label>
              <select class="form-select" name="state" id="edit-address-state">
                <option value="india">Select State</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and
                  Daman
                  and
                  Diu
                </option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Delhi">Delhi</option>
                <option value="Puducherry">Puducherry</option>
              </select>
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-zip">ZIP code</label>
              <input autocomplete="false" name="zipcode" class="form-control" type="number" id="edit-address-zip" required>
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-address-landmark">Landmark</label>
              <input autocomplete="false" name="landmark" class="form-control" type="text" id="edit-address-landmark" required>
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label" for="edit-alternate-phone">Alternate Phone</label>
              <input autocomplete="false" name="alternate_phone" class="form-control" type="text" id="edit-alternate-phone" required>
              <small></small>
            </div>
            <div class="col-sm-6 form-group">
              <p class="form-label">Address Type</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="HOME" name="address_type" id="edit-addressType1" checked>
                <label class="form-check-label" for="edit-addressType1">
                  Home
                </label>
                <small></small>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="WORK" type="radio" name="address_type" id="edit-addressType2">
                <label class="form-check-label" for="edit-addressType2">
                  Work
                </label>
                <small></small>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script defer src="/js/user/checkout.js"></script>

<script>
  const copyCode = async (code) => {
    await navigator.clipboard.writeText(code);
    Swal.fire({
      icon: 'success',
      title: 'Coupon Code Copied!',
    })
  }


  const couponCodeVal = document.getElementById('couponCode').value;
  document.querySelector('#applyCoupon').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the form from submitting normally

    // Get the coupon code from the input field
    const couponCodeInput = document.getElementById('couponCode');
    const couponCodeVal = document.getElementById('couponCode').value;

    // Display a SweetAlert confirmation dialog
    Swal.fire({
      title: 'Are you sure?',
      text: "Do you want to apply this coupon? " + couponCodeVal.toUpperCase(),
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, apply it!'
    }).then(async (result) => {
      if (result.isConfirmed) {
        // If confirmed, send a POST request to the server
        try {
          // should add a loading using sweetalert while the coupon is being applied
          Swal.fire({
            icon: 'info',
            title: 'Applying Coupon',
            html: 'Please wait while we verify and apply the coupon...',
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading();
            },
            timer: 4200,
          });

          const response = await fetch('/checkout/verify-coupon', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              code: couponCodeVal.toLowerCase()
            }),
          });

          Swal.close();

          if (response.ok) {
            const data = await response.json();

            // If the response is successful, disable the input field
            const coupon = document.getElementById('appliedCoupon');
            const couponCode = document.getElementById('coupon');
            const discountAmount = document.getElementById('discountAmount');
            let grandTotal = document.getElementById('grandTotal').innerHTML;

            coupon.classList.remove('d-none');
            couponCode.innerText = `${data.coupon.code}`;
            discountAmount.innerText = `-$${data.discountAmount}`;

            couponCodeInput.disabled = true;
            couponCodeInput.value = '';
            Swal.fire(
              'Applied!',
              data.message,
              'success'
            ).then(() => {
              location.reload()
            });
          } else {
            // Handle errors
            const errorData = await response.json();
            Swal.fire(
              'Error!',
              errorData.message || 'There was an error applying the coupon.',
              'error'
            );
          }
        } catch (error) {
          console.error('Error:', error);
          Swal.fire(
            'Error!',
            'There was an error applying the coupon.',
            'error'
          );
        }
      }
    });

  });



  const removeCoupon = async () => {
    Swal.fire({
      title: 'Are you sure?',
      text: "Do you want to remove this coupon? " + couponCodeVal.toUpperCase(),
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, remove it!'
    }).then(async (result) => {
      if (result.isConfirmed) {
        // If confirmed, send a POST request to the server
        try {

          // should add a loading using sweetalert while the coupon is being removed
          Swal.fire({
            icon: 'info',
            title: 'Removing Coupon',
            html: 'Please wait while we remove the coupon...',
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading();
            }
          })

          const response = await fetch('/checkout/remove-coupon', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
          });

          Swal.close();

          if (response.ok) {
            const data = await response.json();

            Swal.fire(
              'Removed!',
              data.message,
              'success'
            ).then(() => {
              location.reload()
            });
          } else {
            // Handle errors
            const errorData = await response.json();
            Swal.fire(
              'Error!',
              errorData.message || 'There was an error removing the coupon.',
              'error'
            ).then(() => {
              location.reload()
            });
          }
        } catch (error) {
          console.error('Error:', error);
          Swal.fire(
            'Error!',
            'There was an error removing the coupon.',
            'error'
          );
        }
      }
    });
  }
</script>
<script src="/js/user/edit-address.js"></script>