<section class="breadcrumb-option">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-2">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="/admin">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#house-door-fill"></use>
            </svg>
            <span class="visually-hidden">Dashboard</span>
          </a>
          <!-- </li>
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="/category">Banners</a>
            </li> -->
        </li>

        <li class="breadcrumb-item active" aria-current="page">Orders</li>
      </ol>
    </nav>
  </div>
</section>

<div class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= locals.title ? locals.title : 'Dashboard' %></h1>
  <!-- <div class="btn-toolbar mb-2 mb-md-0">
    <a href="/admin/category/add-category">
      <button type="button" class="btn btn-sm btn-outline-primary">
        Add Category
      </button>
    </a>
  </div> -->
</div>

<section class="container my-5">
    <div class="container table-responsive">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>orderId</th>
                    <th>User</th>
                    <th>Payment</th>
                    <th>Amount</th>
                    <th>Order Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach((order,index) => { %>
                    <tr class="align-middle">
                        <td><%- index+1 %></td>
                        <td><%- order.createdAt.toLocaleDateString('en-GB') %></td>
                        <td>#<%- order._id %></td>
                        <td><%- order.customer.username %></td>
                        <td><%- order.payment_method %></td>
                        <td>$<%- order.total_amount %></td>
                        <td <% if (order.status == 'confirmed') { %>
                            class="text-uppercase text-primary"
                            <% } else if (order.status == 'Shipped') { %>
                                class="text-uppercase text-info"
                            <% } else if (order.status == 'Delivered') { %>
                                class="text-uppercase text-success"
                            <% } else if (order.status == 'Cancelled') { %>
                                class="text-uppercase text-danger"
                            <% } else { %>
                                class="text-uppercase text-warning"
                            <% } %> 
                        ><%- order.status %></td>
                        <td>
                            <% if (order.status != 'Cancelled') { %>
                                <a class="btn btn-sm btn-danger" href="/admin/orders/manage-order/<%- order._id %>">
                                    Manage
                                </a>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>

