<section class="breadcrumb-option">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-2">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="/admin">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#house-door-fill"></use>
            </svg>
            <span class="visually-hidden">Dashboard</span>
          </a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          Products
        </li>
      </ol>
    </nav>
  </div>
</section>

<div class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= locals.title ? locals.title : 'Dashboard' %></h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="/admin/products/add-product">
      <button type="button" class="btn btn-sm btn-outline-primary">
        Add Product
      </button>
    </a>
  </div>
</div>

<!-- <%- include('../../partials/flashMessage.ejs') %> -->

<div class="container table-responsive">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Stock</th>
        <th scope="col">Size</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">List/Unlist</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% products.forEach((product,index)=> { %>
      <tr class="align-middle">
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= product.product_name %>
        </td>
        <td>
          <img class="img-fluid img-thumbnail" src="/uploads/product-images/<%- product.primary_image.name %>" width="72rem" alt="">
        </td>
        <td>
          <%- product.stock %>
        </td>
        <td>
          <%- product.size %>
        </td>
        <td>
          <% if (product.isActive) { %>
          listed
          <% } else { %>
          unlisted
          <% } %>
        </td>
        <td class="text-center">
          <div class="d-flex flex-row justify-content-center">
            <% if (product.status) { %>
            <form action="/admin/products/unlist-product/<%= product._id%>?_method=PATCH" method="POST">
              <button class="btn btn-danger btn-sm">
                <i class="bi bi-slash-circle-fill"></i> Unlist
              </button>
            </form>
            <% } else { %>
            <form action="/admin/products/list-product/<%= product._id%>?_method=PATCH" method="POST">
              <button class="btn btn-success btn-sm">
                <i class="bi bi-check-circle-fill"></i> List
              </button>
            </form>
            <% } %>
          </div>
        </td>
        <td class="text-center">
          <div class="btn-group">

            <a href="/admin/products/edit-product/<%- product._id %>">
              <button class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-square"></i>
              </button>
            </a>
            <button class="btn btn-danger btn-sm" onclick="deleteProduct('<%- product._id %>')">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      <% }) %>

    </tbody>
  </table>
</div>