<section class="breadcrumb-option">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-2">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="/admin">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#house-door-fill"></use>
            </svg>
            <span class="visually-hidden">Dashboard</span>
          </a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          Products
        </li>
      </ol>
    </nav>
  </div>
</section>

<div class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= locals.title ? locals.title : 'Dashboard' %></h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="/admin/stocks">
      <button type="button" class="btn btn-sm btn-outline-info">
        Manage Stocks
      </button>
    </a>
    <a href="/admin/products/add-product">
      <button type="button" class="btn btn-sm btn-outline-primary">
        Add Product
      </button>
    </a>
  </div>
</div>



<div class="container table-responsive">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">List/Unlist</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% products.forEach((product,index)=> { %>
      <tr class="align-middle">
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= product.product_name %>
        </td>
        <td>
          <img class="img-fluid img-thumbnail" src="/uploads/product-images/<%- product.primary_image ? product.primary_image.name : product.secondary_images[0].name %>" width="72rem" alt="">
        </td>
        <td>
          <% if (product.isActive) { %>
          listed
          <% } else { %>
          unlisted
          <% } %>
        </td>
        <td class="text-center">
          <div class="d-flex flex-row justify-content-center">
            <% if (product.isActive) { %>
            <button onclick="toggleListing('<%- product._id %>','<%- product.isActive %>' ,'<%- product.product_name %>')" class="btn btn-danger btn-sm">
              <i class="bi bi-slash-circle-fill"></i> Unlist
            </button>
            <% } else { %>
            <button onclick="toggleListing('<%- product._id %>','<%- product.isActive %>' ,'<%- product.product_name %>')" class="btn btn-success btn-sm">
              <i class="bi bi-check-circle-fill"></i> List
            </button>
            <% } %>
          </div>
        </td>
        <td class="text-center">
          <div class="btn-group">

            <a href="/admin/products/edit-product/<%- product._id %>">
              <button class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-square"></i>
              </button>
            </a>
            <button class="btn btn-danger btn-sm" onclick="deleteProduct('<%- product._id %>')">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      <% }) %>

    </tbody>
  </table>
  <!-- Pagination-->
  <% if (products.length > 0 && nextPage || current == pages) { %>
  <nav aria-label="Product Pagination">
    <ul class="pagination justify-content-center mt-5">
      <% if (current == 1) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">First</a>
      </li>

      <% } else { %>
      <li class="page-item">
        <a href="/admin/products/?page=1" class="page-link">First</a>
      </li>
      <% } %>

      <% var i = (Number(current)> 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">...</a>
      </li>
      <% } %>

      <% for( ; i < Number(current) + 4 && i <= pages ; i++ ) { %>
      <% if (i == current) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link"><%= i %> </a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/admin/products?page=<%= i %>" class="page-link"><%= i %></a>
      </li>

      <% } %>
      <% if (i == Number(current)+ 4 && i < pages) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">...</a>
      </li>
      <% } %>

      <% } %>
      <% if (current == pages) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">Last</a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/admin/products?page=<%= pages %>" class="page-link">Last</a>
      </li>

      <% } %>

    </ul>
  </nav>
  <% } %>
</div>

<script defer>
  const toggleListing = async (productId, isActive, productName) => {
    console.log(typeof isActive);
    const confirmed = await Swal.fire({
      title: 'Are you sure?',
      text: `You want to ${isActive == 'true' ? 'unlist': 'list'} the product ${productName}`,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: `Yes, ${isActive == 'true' ? 'unlist': 'list'}!`,
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    });

    if (confirmed.isConfirmed) {
      const response = await fetch(`/admin/products/toggle-listing/${productId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        Swal.fire({
          title: 'Success!',
          text: `Product has been ${isActive == 'true' ? 'unlisted': 'listed'}!.` ,
          icon: 'success',
          timer: 1500
        }).then((result) => {
          location.reload();
        });
      } else {
        Swal.fire({
          title: 'Error!',
          text: 'Something went wrong.',
          icon: 'error',
          timer: 1500
        });
      }
    }
  };

  const deleteProduct = async (productId, productName) => {
   const confirmed = await Swal.fire({
      title: 'Are you sure?',
      text: `You want to delete the product ${productName}`,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
   });
  
   if (confirmed.isConfirmed) {
      const response = await fetch(`/admin/products/delete-product/${productId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      });
  
      if (response.ok) {
        Swal.fire({
          title: 'Success!',
          text: 'Product has been deleted.',
          icon: 'success',
          timer: 1500
        }).then((result) => {
          location.reload();
        });
      } else {
        Swal.fire({
          title: 'Error!',
          text: 'Something went wrong.',
          icon: 'error',
          timer: 1500
        });
      }
   }
  };
</script>
